@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%; /* Preto Puro */
    --foreground: 0 0% 100%;
    --card: 0 0% 3%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 100%;
    --primary: 270 50% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 270 50% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 270 50% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-black text-white antialiased;
    /* Força o fundo preto mesmo se o Three.js falhar */
    background-color: #000000 !important; 
  }
}

/* Barra de rolagem futurista */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6c28d9; 
}
